.DS_Store
.venv/

.obsidian/workspace.json
.obsidian/plugins/*
!.obsidian/plugins/quickadd/
!.obsidian/plugins/templater-obsidian/
.obsidian/plugins/quickadd/*
!.obsidian/plugins/quickadd/data.json
.obsidian/plugins/templater-obsidian/*
!.obsidian/plugins/templater-obsidian/data.json

_meta/compile_state.json
_meta/converted_sources/
_meta/source_page_images/
_meta/pdf2md_work/
_meta/vendor/
_meta/watcher.log
_meta/node_tools/
_meta/original_pdfs/
_meta/watcher.pid

raw/**/*.pdf
raw/*.pdf

output/
